#page {
  width: $page-width;
  height: 100%;
  min-height: 100%;
  float: right;
  overflow: overlay;
  .image-container {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-image {
    &.fit-width {
      max-width: 100%;
    }
  }
}