#thumbnails {
  padding-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  width: 20%;
  height: 100%;
  border-right: 1px solid $main_color;
  float: left;
  z-index: 10;
  .thumb {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid $main_color;
  }
  a {
    margin: 0 20px 20px;
    display: flex;
    position: relative;
    .thumb-wrapper {
      position: relative;
      display: inline-block;
      margin: 0 auto;
      .thumb-id {
        position: absolute;
        bottom: 15px;
        right: 15px;
        background: $main_color;
        padding: 5px;
        color: #fff;
        font-weight: 600;
        font-size: 13px;
      }
    }
  }
}