@import "partials/variables";
@import "partials/fonts";
@import "partials/utils";
@import "partials/scrollbars";
@import "partials/thumbnails";
@import "partials/toolbar";
@import "partials/icons";
@import "partials/page";

html, body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  font-family: $font-family;
  overflow: overlay;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#shoujo {
  min-height: 100%;
  display: inline;
}