@import "variables";

#toolbar {
  width: inherit;
  display: flex;
  border-bottom: 1px solid black;
  position: fixed;
  background: white;
  z-index: 11;
  align-items: center;
  justify-content: center;
}