html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.thumbnails {
    padding-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    width: 20%;
    height: 100%;
    border-right: 1px solid #404040;
}

.thumbnails .thumb {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
    border: 1px solid #404040;
}

.thumbnails a {
    margin: 0 20px 20px 20px;
    display: block;

}

.page {
    width: 100%;
    display: block;
    position: absolute;
    height: 100%;
    left: 20%;
    overflow: auto;
}

.page .page-image {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.page .page-image.fit-width {
    max-width: 80%;
    height: auto;
}

::-webkit-scrollbar {
    display: none;
}