@import "partials/variables";
@import "partials/fonts";
@import "partials/utils";
@import "partials/scrollbars";
@import "partials/thumbnails";
@import "partials/toolbar";
@import "partials/icons";
@import "partials/page";

html, body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  font-family: $font-family;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#shoujo {
  min-height: 100%;
  display: inline;
}

#loadingFile, #openFile {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
  justify-content: center;

  .link {
    text-decoration: none;
    color: lighten($main_color, 50);
    font-size: xx-large;
  }
}

.fullscreen {
  #toolbar {
    display: none;
  }
  #thumbnails {
    display: none;
  }
  #page {
    width: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}